*,
*:after,
*:before {
  outline: 0;
  align-items: start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: start;
  text-decoration: none;
}

button,
a,
input[type='button'],
input[type='radio'],
label {
  cursor: pointer;
}
